In [2]:
import pandas as pd

## Reading csv

In [35]:
df= pd.read_csv('student.csv',na_values=['-'],header=0)   #header=0 means the header is in 0th row
df.index+=1
df

        Name Course  Age  Marks
1  Priyanshu    BCA   18    9.0
2       Amit  BTech   20    NaN
3      Rahul    MCA   22    8.0
4      Sahil    BCA   19    6.0

## Writing DataFrame into CSV

In [30]:
df.to_csv("studentBypython.csv"s,index=False,columns=['Name','Course'],header=True)