In [2]:
import pandas as pd

# Reading xlsx

### 1.Defining Converters

In [3]:
def ageConverter(cell):
    if cell==0:
        cell="NaN"
    return cell

def marksConverter(cell):
    if cell=='-':
        cell="NaN"
    return cell

In [4]:
df= pd.read_excel("student.xlsx",converters={'Age':ageConverter,'Marks':marksConverter},header=0)
df.index+=1
df

        Name Course  Age Marks
1  Priyanshu    BCA   18     9
2       Amit  BTech  NaN   NaN
3      Rahul    MCA   22     8
4      Sahil    BCA   19     6

# Writing DataFrame into Excel

In [5]:
df.to_excel("studentBypython.xlsx",sheet_name="StudentData",index=False,header=True,startrow=4,startcol=4)