In [1]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

### Titanic Exercise

In [4]:
titanic= pd.read_csv("titanic.csv")
titanic.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [53]:
titanic.Age.fillna(titanic.Age.median(),inplace=True)
titanic.head()

   Survived  Pclass     Sex   Age     Fare  sex_n
0         0       3    male  22.0   7.2500      1
1         1       1  female  38.0  71.2833      0
2         1       3  female  26.0   7.9250      0
3         1       1  female  35.0  53.1000      0
4         0       3    male  35.0   8.0500      1

In [23]:
sex_le= LabelEncoder()
titanic["sex_n"]=sex_le.fit_transform(titanic.Sex)
x=titanic.drop(["Sex","Survived"],axis="columns")
x.head()

   Pclass   Age     Fare  sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [24]:
y=titanic.Survived
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [49]:
X_train, X_test, y_train, y_test = train_test_split(x.values,y.values,test_size=0.3)

In [50]:
model= tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [51]:
model.score(X_test,y_test)

0.7649253731343284

In [52]:
model.predict([[1,48,18,1]])

array([0], dtype=int64)